* {
    padding: 0;
    margin: 0;
  }
  
  /* Fonts */
  
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3p-ks51ostz0rdg.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3_-gs51ostz0rdg.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }

  font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* Main Section */


  body {
    background-color: #eaf0f733
    height: 1000px;
    width: 100%;
  }

  main {
    font-family: 'Barlow';
    text-align: center;
    overflow: scroll;
  }
  
  h1 {
    font-weight: 300;
    font-size: 63px;
    color:#125890;
    padding: 20px;
    margin-bottom: 53px;
  }

  /* animate bounce on h1 */

h1.animate__animated.animate__bounce {
  --animate-duration: 1s;
}

  /* h1 "style" word */
  
  .style {
    color: cornflowerblue;
    font-weight: 500;
  }
  .style:hover {
    color: rgb(5, 5, 105);
  }
  
  h2 span {
    font-family: 'Barlow';
    font-size: 35px;
    color: #125890;
    font-weight: 300;
    margin: 75px;
    padding: 6px 10px;
  }
  h2 span:hover {
    color: #125890;
    opacity: 0.7;
  }
  
  h3 {
    font-weight: 300;
    font-size: 36px;
    color: #125890;
    /* margin: 0px 0px 0px 0px; */
    margin: 55px 0px 10px 0px;
  }
  
  h3:hover {
    color: #125890;
    opacity: 0.7;
  }
  
  /* subheadings will be h4 */
  
  h4 {
    font-size: 30px;
    color: #125890;
  }
  
  /* headshots */
  
  .pics li {
    display: inline-block;
  }
  
  img {
    box-sizing: border-box;
    width: auto;
    height: 192px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px 11px 0 5px;
  }
  img:hover {
    color: rgb(19, 18, 18);
    opacity: 0.8;
  }
  
  figcaption:hover {
    color: grey;
  }
  
  /* link to my website model Jay Pharoah */
  a:link {
    text-decoration: none;
  }
  
  .website-model h3 {
      margin: 6px;
      margin: 65px auto;
  }
  .website-model span {
    padding: 6px 10px;
    margin: 9px auto;
  }
  .screenshot-Jay {
      margin;
      width: 300px;
      height: auto;
      border: 1px solid black;
      margin: -55px 0px 17px 0px;
  }
  
  /* color scheme section */

  .blue {
      width: 30px;
      height: 30px;
      border: 1px solid #125890;
      border-radius: 15px;
  }
  
  .colors h3 {
      margin: 59px 0px 10px 0px;
  }

  .colors p {
    font-weight: 300;
    font-size: 20px;
    color: #125890;
  }
.color-container {
      width: 100%;
      display: block;
  }
 
  
  .color-panel {height: 65px;margin: 5px auto;display: inline-block;width: 11%;text-align: center;margin: 0px 0px 10px 0px;padding: -4px;}

  .mixed-blue {
      background-color: #125890;
      color: #f1ecec;
  }
  .mixed-blue:hover {
    color: grey;
    opacity: 0.9;
}

  .color p {
      display: block;
      margin-block-start: 1em;
      margin-inline-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .brown {
      background-color:#904a12;
      color: white;
  }
  .brown:hover {
    color: grey;
    opacity: 0.9;
}

  .light-blue {
      background-color:#129089 ;
      color: white;

  }
  .light-blue:hover {
    color: grey;
    opacity: 0.9;
}
  
  .dark-blue {
      background-color:#121990 ;
      color: white;
  }
  .dark-blue:hover {
    color: grey;
    opacity: 0.9;
}

  .dark-pink {
      background-color: #901258;
      color: white;
  }
  .dark-pink:hover {
    color: grey;
    opacity: 0.9;
}


/* Font Section */

#fonts {
    margin: 30px auto;
}

.font-panel {
    width: 30%;
    width: 50;
    display: inline-block;
    border: 2px solid #129089;
    margin: 1px;
    padding FONT-WEIGHT: 500;
    line-height: 2;
    letter-spacing: .1px;
    padding: 10px;
}
.font-label {
    font-size: 18px;
    text-decoration: underline;
}
.fonts p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.barlow {
    font-family: "barlow";
    font-size: 16px;
    background-color: lightgray;
    opacity: .8;
}

.lato {
    font-family: "lato";
    font-size: 16px;
    background-color: lightgrey;
    opacity: 0.8;
}

.fantasy {
    font-family: fantasy;
    background-color: lightgray;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

/* Symbols section */
.mic {
    width: 85px;
    height: auto;
    border: 1px solid black;
}

.a3 {
  width: 110px;
    height: auto;
    border: 1px solid gold;

}

.camera {
  width: 100px;
    height: auto;
    border: 1px solid black;

}

/* animation section */
.box {
    position: relative;
    border: 3px solid rgb(7, 6, 6);
    border-radius: 14px;
    left: 42%;
    margin: 20px;
    width: 100px;
    height: 75px;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    background:  #7eacd1;
    transition: 
      /* step 1 */
      width      1s,
      /* step 2 */
      background 0.5s 1s;
    line-height: 2;
  } 
 
  
  .box:hover {
    width: 200px;
    background: #129089;
    
  }

/* animation button */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  margin: 4px 2px;
  cursor: pointer;
}
/*.button1 {
  background-color:#121990;
}

*/
.color-change-2x {
	-webkit-animation: color-change-2x 4s linear infinite alternate both;
	        animation: color-change-2x 4s linear infinite alternate both;
}

 @-webkit-keyframes color-change-2x {
  0% {
    background: #7eacd1;
  }
  100% {
    background: #901258;
  }
}
@keyframes color-change-2x {
  0% {
    background:#7eacd1;
  }
  100% {
    background: #901258;
  }
}

 
 /*
  border: 1px solid #33437d;
  border-radius: 10px;

   header {
      background-color: #125890;
      position: fixed;
      width: 100%;
      opacity: 0.9;
      z-index: 10;
      border-radius: 5px;
     
  }

  border: 1px solid #33437d;
  border-radius: 10px;

   header {
      background-color: #125890;
      position: fixed;
      width: 100%;
      opacity: 0.9;
      z-index: 10;
      border-radius: 5px;
     
  }

  */