* {
  padding: 0;
  margin: 0;
}

/* Fonts */

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3p-ks51ostz0rdg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3_-gs51ostz0rdg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
body {
  background-color: rgb(173 198 225 / 65%);
}

main {
  font-family: 'Barlow';
  text-align: center;
  overflow: scroll;
}

h1 {
  font-weight: 300;
  font-size: 63px;
  color: black;
  padding: 20px;
  margin-bottom: 74px;
}

h2 {
  font-family: 'Barlow';
  font-size: 35px;
  color: #125890;
  font-weight: 300;
  margin: 60px;
}

h3 {
  font-weight: 300;
  font-size: 35px;
  color: #125890;
  margin: 6px;
  margin: 6px;
}

h4 {
  font-size: 30px;
  color: #125890;
}

.pics li {
  display: inline-block;
}

img {
  box-sizing: border-box;
  width: auto;
  height: 200px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 9px 11px 0 5px;
}
.pics li:hover {
  color: rgb(19, 18, 18);
  opacity: o.8;
}

.style {
  color: cornflowerblue;
  font-weight: 500;
}
.style:hover {
  color: rgb(5, 5, 105);
}
a .jay h2 {
  margin: 40px;
  border: 2px solid #125890;
  text-decoration: double;
  font-weight: 300;
  border: 2px solid #125890;
}
